[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SAIGEgds"]
	path = SAIGEgds
	url = https://github.com/abbvie-computationalgenomics/saigegds
[submodule "SCArray"]
	path = SCArray
	url = https://github.com/abbvie-computationalgenomics/scarray
